* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   /*  font-family: 'Fraunces', serif;
    font-family: 'Montserrat',  sans-serif; */
    background-color: #F2EAE2;
}

.rectangle {
    background-color: white;
    width: 600px;
    height: 450px;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
      
}

div > div > img {
    width: 300px;
    height: 450px;
    border-radius: 10px 0 0 10px;
}

div > div > div {
    margin: 32px 32px;
}

div > div > div > p:nth-child(1){
    font-family: 'Montserrat';
    font-weight: medium;
    color: #6C7289;
    font-size: 12px;
    
}

div > div > div > p:nth-child(2) {
    font-family: 'Fraunces';
    font-size: 32px;
    margin-top: 20px;
    width: 236px;
    height: 96px;
    line-height: 1;
    
}

div > div > div > p:nth-child(3) {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #6C7289;
    font-weight: lighter;
    margin-top: 24px;
}

body > div > div > div > p.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 29px;
}

 div > div > div > p:nth-child(4) > span{
    font-family: 'Fraunces';
    font-size: 32px;
    color: #3D8168;
    display: block; 
    width: 127px;
}

div > div > div > p:nth-child(4) span:nth-child(2){
    font-family: 'Montserrat';
    font-size: 13px;
    color: #6C7289;
    text-decoration: line-through;
    width: 110px;
    text-align: center;
       
}

div > div > div > button{
    width: 236px;
    height: 48px;
    border-radius: 8px;
    background-color: #3D8168;
    border-style: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 30px;
}

div > div > div > button:hover{
    background-color: #1A4032;
    cursor:grab;
}

div > div > div > button > img{
    margin-right: 10px;
}

/* media queries */

@media(max-width: 416px){
    .rectangle {
        background-color: white;
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 90vh;
        border-radius: 10px;
        justify-content: center;
    }

    div > div > img {
        width: 100%;
        height: 40%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }

    div > div > div {
        margin: 0 8%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60%;
        
        
    }

    div > div > div > p:nth-child(1){
        margin-top: 6%;
    }

    div > div > div > p:nth-child(2) {
        width: 100%;
        height: 18%;
    }

    div > div > div > p:nth-child(3) {
        margin-top: 4% !important;
    }

    div > div > div > p:nth-child(4) {
        margin-top: 4% !important;
    }

    div > div > div > button{
        width: 100%;
        height: 13%;
        border-radius: 8px;
        font-size: 14px;
        margin-bottom: 8%;
    }

} 

@media(max-width: 281px){
    div > div > div > p:nth-child(2) {
        height: 10%;
        width: fit-content;
        font-size: 1.5em;
        margin-top: 10%;
        margin-bottom: 10%;
        
    }
  
}
    
